/* Colors : Détails/menu (rouge) =  rgb(255,0,0) | Texte (noir) = rgb(0,0,0) | 
Background (vert-beige) = rgb(234, 244, 211) | background footer ? (gris argenté) = 
rgb(105, 116, 124) | texte important ? (beige marrant) = rgb(253, 232, 196) */
h1
{
	border-bottom: 2px;
	border-color: 1px;
	border-bottom: solid red;
	padding: 1em;
	margin: 0 -1em;

}

h1, h2
{
	text-align: center;
	justify-content: center;
	width: 900px;
	margin: auto;
font-family: 'Raleway', sans-serif;
}
*
{
font-family: 'Roboto Slab', serif;
}
body
{
	justify-content: center;
	width: 900px;
	margin: auto;
}
ul, li
{
	list-style: none;
}
footer
{
	background : rgb(105, 116, 124, 0.5);
		text-align: center;
}
footer a
{
	justify-content: center;
	text-align: center;
}
nav, .bienvenue
{
	display: flex;
	margin-right: 15px;
	position: relative;
	float: right;
	right: 10px;
}
nav a
{
	text-decoration: none;
	color:inherit;
	left: 750px;
	position: relative;
	padding: 10px;

}
.bienvenue
{
	background-color: rgb(253, 232, 196);
	display: flex;
	right: 15px;
	position:relative;
	float: right;
	margin: auto;
	padding: auto;
	vertical-align: center;
}
nav a:hover, .bienvenue:hover
{
	border-bottom: solid 3px;
	border-color: red;
}
.acteurs
{
border: solid rgb(105, 116, 124);
border-width: 5px;
border-spacing: 5px;
vertical-align: middle;
padding: 5px;
}
.acteurs img
{
	display:flex;
	left : 1px;
	position: relative;
	float: left;
}
.module
{
border: solid black;
border-width: 3px;
border-spacing: 5px;
padding: 15px;
margin: 10px;
min-height: 150px;
min-width: 250px;
text-align: center;
vertical-align: middle;
}
.module a
{
	text-decoration: none;
	color: rgb(253, 232, 196);
	position: relative;
	text-align: center;
}
.module:nth-child(1)
{
	background: #00805280;

}
.module:nth-child(2)
{
	background: #7B558A80;
}
.module:nth-child(3)
{
	background: #00969880;
}
.module:nth-child(4)
{
	background: #ED1C2480;
}
.module:nth-child(5)
{
	background: #00000080;
}
.module:nth-child(6)
{
	background: #28467580;
}
.INFO_BNP,.INFO_BPCE, .INFO_CREDA, .INFO_CREDIMUT, .INFO_SOGENAL, .INFO_BANQPO
{
	color:black;
	border: 0px solid red;
	border-radius: 25px;
	background-color: rgb(253, 232, 196);
	display: flex;
	right: 15px;
	position: relative;
	float: right;
	margin: auto;
	padding: auto;
	vertical-align: center;
}
.INFO_BNP,.INFO_BPCE, .INFO_CREDA, .INFO_CREDIMUT, .INFO_SOGENAL, .INFO_BANQPO, .module a
{
	align-content: right;
}
.image_middle
{
	float:center;
	align-content: center;
	justify-content: center;
}
.commentaires
{
	border: 1px solid black;
}
.commentaires article
{
	border:1px solid black;
}