.button {
  box-shadow: 0 0 0 2.5px rgb(105, 116, 124), inset 0 0 0 2.5px rgb(105, 116, 124), 0 5px 10px 15px rgba(0, 0, 0, 0.5), inset 0 0 0 6px #fff;
  text-decoration: none;
  border-radius: 0px;
  background-color: white;
  border: #000000 solid 2px;
  color: rgb(105, 116, 124);
  text-align: center;
  font-size: 18px;
  padding: 3px;
  width: 150px;
  height: auto;
  transition: all 0.3s;
  cursor: pointer;
  margin: 15px;
  margin-bottom: 30px;
  position: relative;
  float:right;
  border-top-right-radius: 30%;
  border-bottom-left-radius: 30%
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button:hover {
  color: black;
  border: rgb(105, 116, 124) solid 2px;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.avis_com {
  display: row;
  padding: auto;
  margin: auto;
}
.commentaires
{
    width: 100%;
    margin: auto;
}
