/* Colors : Détails/menu (rouge) =  rgb(255,0,0) | Texte (noir) = rgb(0,0,0) | 
Background (vert-beige) = rgb(234, 244, 211) | background footer ? (gris argenté) = 
rgb(105, 116, 124) | texte important ? (beige marrant) = rgb(253, 232, 196) */
@font-face 
{
	font-family: "Roboto Slab";
	src: url("/polices/RobotoSlab-Regular.ttf") format("ttf"),
	url("/polices/RobotoSlab-Regular.woff2") format("woff2"),
	url("/polices/RobotoSlab-Regular.woff") format("woff");
}

nav ul
{
	list-style-type: none;
}
nav li
{
	font-family: 'Kiwi Maru', serif;
	margin-right: 15px;
}
nav a
{
	color: grey;
	padding-bottom: 3px;
	text-decoration: none;
}

nav a:hover
{
	color: red;
	border-bottom: 3px solid red;
}
h1
{
	border-bottom: 2px;
	border-bottom: solid red;
}
.illus
{
    justify-content: center;
    margin: auto;
    text-align: center;
    display: flex;
}
.longlogo
{
    justify-content: center;
    margin: auto;
    text-align: center;
    display: flex;
}
h1, h2
{
	text-align: center;
	justify-content: center;
	width: 900px;
	margin: auto;
	font-family: 'Raleway', sans-serif;
}
h3
{
	font-weight: normal;
}
*
{
	font-family: 'Roboto Slab', 'Impact'
}
body
{
	justify-content: center;
	width: 900px;
	margin: auto;
}
ul, li
{
	list-style: none;
}
footer
{
	text-align: center;
	border-top: solid 3px;
	border-color: red;
	align-content: center;
	justify-content: center;
	padding: 5px;
	margin: 10px;
}
footer a
{
	color: black;
	text-decoration: none;
	justify-content: center;
	text-align: center;
}
nav, .bienvenue
{
	display: flex;
	margin-right: 15px;
	position: relative;
	float: right;
	right: 30px;
}
nav a
{
	text-decoration: none;
	color:inherit;
	position: relative;
	padding: 10px;

}
.bienvenue
{
	display: flex;
	right: 15px;
	position:relative;
	float: right;
	margin: auto;
	vertical-align: center;
}
nav a:hover, .bienvenue:hover
{
	border-bottom: solid 3px;
	border-color: red;
}
.acteurs
{
	border: solid rgb(105, 116, 124);
	border-width: 5px;
	border-spacing: 5px;
	font-weight: normal;
}
.module
{
	border: solid black;
	border-width: 3px;
	border-spacing: 5px;
	padding: 10px;
	margin: 8px;
	max-height: 100px;
	min-width: 250px;
	text-align: center;
	font-weight: normal;
}
.module h3
{
	display: flex;
	font-size: 15px;
}
.INFO
{
	text-align: center;
	color:black;
	border: 0px solid red;
	border-radius: 50px;
	background-color: rgb(0, 0, 0, 0.5);
	display: flex;
	right: 15px;
	position: relative;
	float: right;
	margin: auto;
	vertical-align: center;
	padding: 2px;
}
.module a
{
	text-decoration: none;
	color: orange;
}
.module:nth-child(1)
{
	background: #ff7f0080;

}
.module:nth-child(2)
{
	background: #03224c80;
}
.module:nth-child(3)
{
	background: #00969880;
}
.module:nth-child(4)
{
	background: #006580;
}
.module:nth-child(5)
{
	background: #00000080;
}
.module:nth-child(6)
{
	background: #28467580;
}
.module:nth-child(7)
{
	background: red;
}
.image_middle
{
	align-content: center;
	justify-content: center;
}


@media (max-width: 800px) 
{
	body
	{
	justify-content: center;
	width: 600px;
	margin: auto;
	}
	header img
	{
	    justify-content: center;
	    margin: auto;
	    text-align: center;
	    display: flex;
	}
	.bienvenue
	{
	    justify-content: center;
	    margin: auto;
	    text-align: center;
	    display: flex;
	}
	.module
	{
		padding: 10px;
		margin: 8px;
		text-align: center;
		font-weight: normal;
		width: 92%;
		min-height: 200px;
		display: inline-block;
	}
	.logo
	{
		display: none;
	}
	.biglogo
	{
		vertical-align: top;
	}
	.illus
	{
		display: none;
	}
	.illus-mobile
	{
	justify-content: center;
    margin: auto;
    text-align: center;
    display: flex;
	}
	.acteurs
	{
		width: 95%;
	}
	footer
	{
		width: 90%;
	}
	body
	{
		justify-content: center;
		width: 100%;
		margin: auto;
	}
	h1, h2, .pres
	{
		width: 100%;
		justify-content: center;
	    margin: auto;
	    text-align: center;
	}
	.INFO
	{
		padding: 10px;
		margin: 30px;
		float: right;
		position: relative;
	}
}
@media (min-width: 800px)
{
	.biglogo
	{
		display: none;
	}
	.logo
	{
		display:flex;
		left : 1px;
		position: relative;
		float: left;
	}
	.illus-mobile
	{
		display: none;
	}
}
@media (max-width: 500px) 
{
	body
	{
	justify-content: center;
	width: 400px;
	margin: auto;
	}
}